body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F8F7F4;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  h1{
    font-weight: 300;
    font-size:2rem;
  }

  thead{
    background-color: #F8F7F4;
  }

  table{
    max-width: 720px;
    border-collapse: unset;
  }
  
  table a{
    text-decoration-skip-ink: none;
    text-decoration: none;
  }

  table a:hover{
    color: #333;
  }

  th ~ th{
    cursor: pointer;
  }
  
  th.active{
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 0.25rem;
    background-color:green
  }

  th ~ th, td ~ td {
    text-align: center;
  }

  td .small{
    vertical-align: super;
    font-size: 60%;
    font-weight: bold;
    position: absolute;
    margin-left:2px;
  }

  td .true{
    color: green;
  }

  td .false{
    color: red;
  }

  .true::before{
    content: '+';
  }

  .first{
    color:white !important;
    background: green !important;
    padding:1px 2px;
    border-radius:6px 6px 6px 0;
    margin-bottom: 2px;
    font-weight: 600 !important;
    letter-spacing: 1px;
  }

  footer{
    margin-top: 2rem;
    text-align: center;
    font-size: 0.8rem;
    border-top: 1px solid #ccc;
    padding: 1rem 10px;
  }

  .loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .loading .animation {
    display: block;
    width: 20vh;
    height: 20vh;
    margin-left: 2rem;
    border-radius: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    animation: donut-spin linear 1.2s infinite;
    border: 2px solid transparent;
    border-right-color: rgba(15, 15, 255, 0.55);
}


@keyframes donut-spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}
